langgraph
langchain
langchain-community
langchain-text-splitters

sentence-transformers
transformers
torch

supabase

python-dotenv

python-docx

streamlit

numpy

streamlit
openai
supabase
sentence-transformers
python-dotenv
torch
transformers
openpyxl
pandas
ollama
groq